body {
  font-family: 'Roboto Mono', monospace;
  background-color: #262626;
  margin-left: 8%;
  color:white;
  min-width: 280px;
  width: 60%;
  max-width: 800px;
}

.title {
    margin-left: 5px;
    margin-bottom: 6px;
}

.tpm {margin-top: 10px;}

.wd {
  min-width: 300px;
  margin-bottom: 40px;
}

nav {
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 2px;
  padding-top: 1px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-transform: uppercase;
  font-size: 14px;
  ;
}

nav a:hover {
  color: grey;
  text-shadow: 1px 1px 3px black;
}

nav a::before {
  content: '';
  display: block;
  height: 1px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 150ms;
}

nav a:hover::before {
  width: 100%;
}

.enit{
    
  color: white;
  padding: 1px 1px;
  text-align: center;
  width: 220px;
  margin-left: 18%;

}

.mail {
  
  text-decoration:underline;
  color: black;
  background-color: white;

}

a { 
  
  color: grey; 

}

.pj_header {
  margin-bottom: -12px;
}
