body {

    background: #111111;
    font-family: 'Roboto', sans-serif;

}


#title {

    font-size: 90px;
    background: -webkit-linear-gradient(30deg, rgba(116,0,221,1) 0%, rgba(59,149,227,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 140px;
    display: block;
    width: 100%;
    font-weight: 100;

}

#subtitle {

    font-size: 50px;

    background: -webkit-linear-gradient(90deg, rgba(116,0,221,1) 0%, rgba(59,149,227,1) 35%, rgba(0,212,255,1) 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10%;
    display: block;
    font-weight: 100;
    clear:none;
    margin-top: -70;
}

@media screen and (min-width: 1200px){
    #subtitle {
        margin-left: 25%;

    }
}



.line {

    border: none;
    width: 30%;
    height: 2px;
    background: -webkit-linear-gradient(30deg, rgba(116,0,221,1) 0%, rgba(59,149,227,1) 35%, rgba(0,212,255,1) 100%);

}


.contact {

    font-size: 40px;
    background: -webkit-linear-gradient(30deg, rgba(116,0,221,1) 0%, rgba(59,149,227,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display:block;
    width: 100%;
    font-weight: 100;
    
}

#email {
    background-size: 20px 20px;
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display:block;
    width: 100%;
    font-weight: 100;
    
}

