body {

    background: #111111;
    font-family: 'Roboto', sans-serif;
    color: white;

}


#title {
    

    font-size: 95px;


    font-weight: 100;

    background:  rgba(0,212,255,1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 90px;
    display: block;
    width: 100%;

    text-align: center;

}

#subtitle_box{

    display: table;
    margin: 0 auto;
}

#subtitle {

    font-family: 'Roboto Mono', monospace;

    font-size: 50px;
    background: -webkit-linear-gradient(90deg, rgba(116,0,221,1) 0%, rgba(59,149,227,1) 15%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 300;
    margin-top: -60px;
    
}



.line {

    border: none;
    height: 2px;
    display: table;
    margin: 0 auto;
    width: 675px;
    background: -webkit-linear-gradient(30deg, rgba(116,0,221,1) 0%, rgba(59,149,227,1) 35%, rgba(0,212,255,1) 100%);

}



.chapter {

    font-size: 40px;
    background: -webkit-linear-gradient(rgba(59,149,227,1) 0%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 100;
    text-align: center;

    margin-top: 20px;


}

#email {

    font-size: 40px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(171,174,175,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -40px;

    font-weight: 100;
    color: black;

    text-align: center;
}


