body {

    background: #111111;
    font-family: 'Roboto', sans-serif;
    color: white;

}


#title {

    font-size: 95px;
    background: -webkit-linear-gradient(30deg, rgba(116,0,221,1) 0%, rgba(59,149,227,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 120px;
    display: block;
    width: 100%;
    font-weight: 100;

}

#subtitle_box{

    margin-left: 25%;

}

#subtitle {

    font-size: 50px;
    background: -webkit-linear-gradient(90deg, rgba(116,0,221,1) 0%, rgba(59,149,227,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-weight: 100;
    margin-top: -60px;
    margin-left: 0%;
    
}

@media screen and (min-width: 1900px){
    #subtitle {

        margin-left: auto;

    }
    #subtitle_box{

        margin-left: 37.5%;
    
    }
}


.line {

    border: none;
    width: 50%;
    height: 2px;
    background: -webkit-linear-gradient(30deg, rgba(116,0,221,1) 0%, rgba(59,149,227,1) 35%, rgba(0,212,255,1) 100%);

}

@media screen and (min-width: 1900px){
    .line {
        
        width: 25%;

    }
}


.chapter {

    font-size: 40px;
    background: -webkit-linear-gradient(30deg, rgba(116,0,221,1) 0%, rgba(59,149,227,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display:block;
    width: 100%;
    font-weight: 100;

    

}

.lined {

    display:flex;

}

.lined:before, .lined:after {
    
    color:white;
    content:'';
    flex:1;
    border-bottom:groove 2px;
    margin:auto 0.25em;
    box-shadow: 0 -1px ;/* ou 0 1px si border-style:ridge */
    border: none;
    width: 50%;
    height: 2px;

}

#email {

    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display:block;
    font-weight: 100;
    color: black;
    
}

.text {

    font-size: 30px;
    font-weight: 100;
    text-align: left;
    display: block;

    margin-left: 5%;
    margin-right: 5%;
    

}

@media screen and (min-width: 1800px){

    .text{
        margin-left: 20%;
        margin-right: 20%;
    }
}

