body {
    font-family: 'Roboto Mono', monospace;
    background-color: #262626;
    margin-left: 8%;
    color:white;
    min-width: 280px;
    width: 60%;
    max-width: 400px;
}

#goback {
    margin-bottom: -20px;
    margin-top: 30px;
}

a {
    color: grey;
}

td {
    border: 2px solid white;
    height: 70px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    font-size: 60px;
    cursor: pointer;
}

table {
    border-collapse: collapse;

}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

.endgame {
    display: block;
    margin-top: -170px;
    margin-left: 15px;
    position: absolute;
    width: 10px;
    background-color: red;
    color: black;
    text-align: center;
    padding: 5px 90px 10px 5px;
    border-radius: 5px;
}


