body {
    font-family: 'Roboto Mono', monospace;
    background-color: #262626;
    margin-left: 8%;
    color:white;
    min-width: 280px;
    width: 60%;
    max-width: 400px;
}

#goback {
    margin-bottom: -20px;
    margin-top: 30px;
}

#inputbar {
    background: white;
}

a {
    color: grey;
}

#outputbar {
    margin-top: 30px;
    margin-bottom: 30px;
}

