body {
    font-family: 'Roboto Mono', monospace;
    background-color: #262626;
    margin-left: 8%;
    color:white;
    min-width: 280px;
    width: 60%;
    max-width: 400px;
}

#goback {
    margin-bottom: -20px;
    margin-top: 30px;
}

#inputbar {
    background: white;
}

a {
    color: grey;
}

#outputbar {
    margin-top: 30px;
    margin-bottom: 30px;
}

#rpsgame {
    height: 60px;
    width: 300px;
    margin-top: -20px;
}

#rpsbox {
    background-color: grey; /* Green */
    border: solid;
    color: white;
    border-color: transparent;
    border-radius: 10px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-width: 1px;
}

.rpsbutton {
    border-radius: 8px;
    font-family: 'Roboto Mono', monospace;
    border-color: none;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 2px #999;
}

.rpsbutton:hover {
    background-color: #262626;
    color: white;
}

.rpsbutton:active {
    background-color: #262626;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

#scoretable {
    display: none;
}
#rpsplayer {
    margin-bottom: -12px;
}
#rpscpu {
    margin-bottom: -12px;
}
#pscore {
    position: relative;
}
#subtitle {
    margin-top: -15px;
}