#goback {
    margin-bottom: -20px;
    margin-top: 30px;
}

#subtitle {
    margin-top: -22px;
    margin-bottom: 20px;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #262626;
    margin-left: 8%;
    color:white;
    min-width: 280px;
    width: 60%;
    max-width: 800px;
    
}

#gamebox{
    font-size: 120%;

}

a {
    color: grey;

}

.shop {

    background-color: darkgoldenrod;
    color: black;
    display: block;
    max-width: 70%;
}

.press {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
}


#sell:hover {
    color: black;
    background-color: green;
}

#sell:active {
    color: greenyellow;
    background-color: black;
}

#sell {
    background-color: #262626;
}

#make:hover {
    color: black;
    background-color: darkgoldenrod;
}

#make:active {
    
    color: yellow;
    background-color: black;
}

#make{
    background-color: #262626;
}



#gamebox {
    display: block;
}

#gamebox_text {
    margin-left: 2%;
}


#passive_income_bar{

    display: none;

}

#progress_log_bar{

    font-style: italic;

}

#potato_maker:hover {
    color: black;
    background-color: darkgoldenrod;
}

#potato_maker:active {
    
    color: yellow;
    background-color: black;
}


#buy_potato_maker:hover{

    color:black;
    background-color:white;

}

#buy_potato_maker:active{

    color: purple;

}